@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.activeLinkBorder {
  position: relative;
  display: inline-block; /* Ensure proper width and height behavior */
}

.activeLinkBorder::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #3b82f6, #10b981);
}